.button {
  display: inline-block;
  margin: 0;
  padding: 0;

  vertical-align: top;
  text-decoration: none;

  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 0;

  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &--primary {

  }

  &--secondary {
    
  }

  &--close {
    position: absolute;

    color: @modal-close-color;
    font-size: 24px;
    line-height: 24px;
    top: 15px;
    right: 20px;

    &:hover,
    &:focus,
    &:active {
      color: @modal-close-color-hover;
    }
  }
}
