$text-color-primary: #2b2c30;
$text-color-secondary: #7a8ea5;
$link-color-primary: #2b8aeb;
$link-color-secondary: #7a8ea5;

$background-overlay: rgba(106, 110, 132, 0.5);

$gradient-secondary: linear-gradient(106deg, #ffc65f, #f88c3d);

$modal-close-color: #8898c1;
$modal-close-color-hover: #2b8aeb;

$desktop-width: 1600px;
$tablet-width: 992px;
$mobile-width: 768px;
$least-mobile-width: 480px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
